<h1>Add your ingredients to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit 'Mix it up! ðŸ¸' %>
<% end %>
